* {
  box-sizing: border-box;
  color: white;  
  font-family: 'Libre Baskerville', serif;

} 
body {
  background-color: black;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-attachment: fixed;
  background-image: url('Background.png');
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answerFeedback {
  background-color: #D3D3D3C7;
  width: 100vh;
  height: 100vh;
  display:block;
  text-align: center;
  position: relative;
}

#answerFeedbackCorrect > img{
  height: 70%;
  width: auto;
  position: relative;  
  padding-top: 10%;
  left: 25%;
}

#answerFeedbackCorrect > h1 {
  position: absolute;
  top: 35%;
  right: 5%;
}

#answerFeedbackIncorrect > h1 {
  position: absolute;
  top: 35%;
  right: 5%;
  z-index: 2;
}

#answerFeedbackIncorrect > img {
  height: 70%;
  width: auto;
  position: relative;  
  padding-top: 10%;
  left: 25%;
}
  

#incorrectAnswerFeedback > img { 
  height: 70%;
  width: auto;
  position: relative;  
  padding-top: 10%;
  left: 25%;
}

#nextSlideButton {
  position: relative;
  top: 10%;
  right: 18%;

}

main {
  display: grid;
  justify-items: center;
  align-content: center;
  grid: auto-flow/auto;
  gap: 20px 0;
  flex: 1;
}

p {
  position: relative;
  right: 18%;
}

h1 {
  align-self: center;
  padding: 10% 0% 10% 10%;
  max-width: 70ch;  
  min-width: 35ch;
  font-size: 25px;
}
#startingQuizPage {
  padding: 5%;
}
h2 {
  align-items: center;
  font-size: 20px;
  max-width: 45ch; 
  text-align: center;
}

h3 {
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.slideBackground {
  display:flex;
  flex-direction:column;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  transition: opacity 0.5s; 
  background-color: #000000A6;
  z-index: 1;
  text-align: center;
  }


#modalGutsTemplate {
  justify-content: center;
}

.modalGutsTemplate {
  flex: row;
  justify-content: center;
}

.quizHeader {
  width: auto;
  height: 200px;
  border-radius: 15px;
}  

.hidden {
  display: none;
}


#replayButton {
  position: relative;
  top: 65%;
  /* opacity: 1;
  transition: opacity 2s linear; */
}

.bttn {
  width: 300px;
  height: 50px;
  font-weight: bold;
  background-color: darkslategray;
  font-size: 20px;
  margin-top: 5%;
}

.buttonContainer {
  padding: 15%;
}


#question {
  text-align: center;
  padding-left: 18%;
  font-size: 16px;
  max-width: 200ch;
  font-style: bold;
  width: 100%;
  height: 20%;
}

#question > h1 {
  position: relative;
  padding: 10%;
  right: 10%;
}

.input {
  height: 20px;
  width: 20px;
}

.answers {
  margin-left: 22%;
  font-size: 25px;
  text-align: justify;
  line-height: 30px;
  
}

answers:hover{
  background: darkslategray;
}

.nextButton {
  opacity: 0.5;
  pointer-events: none;
  opacity: 1 ;
  pointer-events: pointer;
  cursor: pointer;
}

.finalScoreScreen {
  background: black;
  background-image: url('perfect.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  position:absolute;
  margin: 0;
  text-align: center;
}

.finalScoreText {
  position: absolute;
  top: 20%;
  left: 20%; 
}
.buttonContainer {
  margin: 20%;
  text-align: center;
}


ul#horizontal-list {
  list-style: none;
}

ul#horizontal-list li {
  display: inline;
  font-weight: 4;
  font-size: 20px;
}


