* {
  box-sizing: border-box;
  color: white;  
  font-family: 'Libre Baskerville', serif;

} 

body {
  background-color: black;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-attachment: fixed;
  background-image: url('Background.png');
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {

}

main {
  display: grid;
  justify-items: center;
  align-content: center;
  grid: auto-flow/auto;
  gap: 20px 0;
  flex: 1;
}

h1 {
  padding: 20%;
    
}

h2 {
   padding-top: 15%;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   max-width: 45ch; 
   text-align: center;
}

h3 {
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

li {
  list-style-type: none;
}

.modalGutsTemplate {
  flex: row;
  justify-content: center;
}

.quizHeader {
     width: auto;
     height: 200px;
     border-radius: 15px;
}

.quizProgressionTracker {
  align-content: space-around;
}

.bttn {
     align-items: center;
     justify-content: center;
     width: 300px;
     height: 50px;
     font-weight: bold;
     background-color: darkslategray;
     font-size: 20px;
}

.quizModalContainer:not(:empty){
  width: 100%;
  height: 100vh;
  background-color: #000000A6;
  left: center;

}

.modal {
  display: grid;
  grid: auto 1fr/auto;
  gap: 30px 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000A6
}

.question {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 24px 8px;
  padding: 16px;
}
.answerOption {
  display:inline-block;
  align-content: space-around;
  
}
/* .question-copy {
  margin:0;
  padding: 0;
  grid-column: 1 / end;
} */

.label {
  grid-column: 2 / end;
}

.nextBttn {
  grid-column: 1 / end;
  justify-self: flex-start;
  opacity: 0.5;
  pointer-events: none;
  opacity: 1 ;
  pointer-events: pointer;
  cursor: pointer;
}

.answerOption:checked ~ .nextBttn {
  pointer-events: initial;
  cursor: pointer;
  opacity: 1;
}


